.hindiHeadings {
  padding: 15px 14px;
  margin: 15px 0;
  border: 2px solid #e3e3e3;
  border-radius: 12px;
  font-weight: bold;
  background: #f9f9f9;
  transition: all 0.3s ease;
  color: #004084;
  font-size: 22px;
}

.hindiHeadings:hover {
  border-color: #1e88e5;
  box-shadow: 0 4px 12px rgba(30, 136, 229, 0.25);
  transform: translateY(-2px);
}

.questionFIllN {
  margin: 35px 0;
  font-size: 17px;
}

.inPutHindiNew {
  background: none !important;
  border: none !important;
  border-bottom: 2px dashed #333 !important;
  text-align: center !important;
  color: #4CAF50 !important;
  font-family: 'IBM Plex Sans Devanagari';
}

.inPutHindiNew:not(.w-100) {
  max-width: 150px !important;
}

.inPutHindiNew:focus {
  outline: none !important;
}

.questionFILL {
    font-size: 23px;
    margin: 23px 0;
    color: #1041ff;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 0;
}

.keyboard-input {
  width: 60%;
  max-width: 300px;
  font-size: 18px;
  padding: 8px;
  margin: 8px 0 18px 0;
  border-radius: 6px;
  border: 2px solid #444;
  background: #1e1e1e;
  color: #fff;
}

.keyboard-input:focus {
  border-color: #00bfff;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.5);
}



.result {
  margin-top: 25px;
  font-size: 22px;
  font-weight: bold;
  color: #ffeb3b;
}

.ui-keyboard {
  background: #000 !important;
  border-radius: 12px !important;
  padding: 15px !important;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.9);
}

.ui-keyboard-button {
  background: #222 !important;
  color: #fff !important;
  border: 1px solid #444 !important;
  border-radius: 6px !important;
  margin: 3px !important;
  min-width: 40px;
  font-size: 16px !important;
}

.ui-keyboard-button:hover {
  background: #00bfff !important;
  color: #000 !important;
}

.ui-keyboard-caret {
  border-left: 2px solid #00bfff !important;
}

/* rachnatamk_25_11_20225 */
.menHeading{
  font-size: 22px;
  margin: 20px 0;
  /* text-align: center; */
  color: #0d6efd !important;
}
.nameOfTopic{
    font-size: 22px;
    font-weight: bold;
    color: #0087ff !important;
    text-align: center;
  }
  .textNormalRun {
  font-size: 20px;
  color: #000;
  text-align: justify;
  line-height: 1.7;
   font-family: 'PoppinsLight';
   
}

/* Default image responsive */
.textNormalRun img {
  max-width: 40%;
  height: auto;
  margin: 12px;
}

/* left/right images wrap text */
.img-left {
  float: left;
  margin-right: 12px;
}

.img-right {
  float: right;
  margin-left: 12px;
}

/* Center image block */
.img-center-wrapper {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  clear: both;
}

.img-center {
  max-width: 55%;
  height: auto;
  display: inline-block;
  float: none !important;
}


.wordRachnata {
  /* opacity: 0; */
  /* transition: opacity 0.3s ease-in; */
}

.wordRachnata.show {
  opacity: 1;
}
.headNirdesh{
    color: #fa6807;
    font-size: 33px;
    text-align: center;
    animation: pulseRed 1.2s infinite;
}
.instForFillText{
    margin: 20px 0px;
    border: 3px double #7aa7ff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 22px;
    text-align: center;
}
.forHindiDev{
   font-family: 'IBM Plex Sans Devanagari';
   font-size: 20px;
   color: #000;
}
.multiTextArea {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid green;
}
.inputeSectionsRachna {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
    align-items: center;
}
.dynamicImgRachna{
  border: 3px solid #fff;
}


.img-left .dynamicImgRachna {
    order: 0;
}

.img-right .dynamicImgRachna {
    order: 2;
}

.textInputsBox {
    flex: 1;
}
.clear{
  clear: both;
}
.saketText{
  color: #000;
  font-size: 20px;
   font-family: 'PoppinsLight';
}
.studentAnsBox{
  position: fixed;
  top: 0;
  left: 0;
  background: #000000ba;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 999;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.sampleBox{
    position: fixed;
  top: 0;
  left: 0;
  background: #000000ba;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 999;
  display: flex;
  justify-content: center;
}
.inForContRach{
  background: #fff;
  padding: 38px;
  border-radius: 15px;
  width: 930px;
  position: relative;
  height: max-content;
  margin: 5vw 0 !important;
}
.headingYourAns{
    font-size: 22px;
    text-align: left;
    color: #008da9;
}
.closeBtnsRachna{
    position: absolute;
    right: 10px;
    top: 10px;
    background: red;
    color: #fff;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    border-radius: 50%;
    cursor: pointer;
    animation: pulseRed 1.2s infinite;
        z-index: 99;
}
.closeBtnsRachna:hover{
  background: #f55a46;
}
.studentTextApp{
    font-size: 20px;
    color: #000;
    text-align: center;
    display: inline-block;
    width: 100%;
    border: 1px solid #f5f5f5;
    padding: 18px;
    min-height: 30vh;
    overflow: auto;
     font-family: 'PoppinsLight';
}
.scoreInRachNamat{
    text-align: center;
    font-size: 17px;
    color: #000;
}
.headingInDtaAns{
   color: #fa6807;
    font-size: 25px;
    text-align: center;
    animation: pulseRed 1.2s infinite;
}
.sampleAnsBox {
  font-size: 18px;
  color: #000;
  margin: 10px 20px;
  text-align: justify;
   font-family: 'PoppinsLight';
}

/* letter */
.tabsForLetter {
  border: 4px solid #ffffff;
  padding: 9px 11px;
  border-radius: 19px;
  font-size: 19px;
  margin: 6px 0;
  cursor: pointer;
  /* font-family: 'PoppinsLight'; */
  color: #ffffff;
  background: linear-gradient(to right, var(--bs-info) 0%, var(--bs-primary) 50%, #d4f0f3 100%);
  background-size: 200% 100%;
  background-position: left;
  transition: all 0.5s ease;
}

/* Hover Animation */
.tabsForLetter:hover {
  background-position: right;
  color: #fff;
  box-shadow: 0 4px 12px rgba(252, 214, 2, 0.35);
  transform: translateY(-2px);
}


.holderLeterBox{
  padding: 2px;
  margin: 19px 0 0 0;
  position: relative;
}
.num_guides{
    background: #014b8d;
    width: 31px;
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #89c4ff;
    margin: 7px auto 0 auto;
    font-size: 13px;
}



.tbClicked{
  margin: 0 4px;
}
.showInboxes{
  padding: 7px 16px;
  font-family: 'PoppinsLight';
  margin: 0px 0;
  border-radius: 15px;
  color: #0d0757;
  display: none;
  line-height: 1.7;
  font-size: 20px;
}
.activeTabRach {
 background: #0c53b7;
}
.wrapers{
    background: #fafeff;
    /* border: 1px solid #6bfff7; */
    margin: 15px 0;
    border-radius: 20px;
    padding: 0 15px;
}
.readyLetterBox{
  position: fixed;
  top: 0;
  left: 0;
  background: #000000ba;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 999;
  display: flex;
  justify-content: center;
  display: none;
}
.baseModelsReady{
    background: #fff;
    padding: 18px;
    border-radius: 15px;
    width: 930px;
    position: relative;
    height: max-content;
    margin: 5vw 0 !important;
}
.headingReadyPatr{
  color: #1e1e1e;
  font-size: 20px;
  color: #000000;
  font-family: 'PoppinsSemiBold';
}
#dataForReadyPatar{
  line-height: 2;
  font-family: 'PoppinsLight';
  color: #0d0757;
  text-align: justify;
  font-size: 20px;
}
.headingText{
   font-family: 'PoppinsSemiBold';
   font-size: 18px;
   border-left: 2px solid #b0deff;
   padding: 16px 10px;
   margin: 8px 0;
   color: #115f97;
   background: #f5f5f5;
   border-radius: 50px;
}
.fillAppli{
  border: none;
  border-bottom: 1px solid #87acc7;
  border-radius: 0 !important;
  font-family: 'IBM Plex Sans Devanagari';
  font-size: 18px;
  color: #000510;
  line-height: 1.7;
  font-family: 'PoppinsLight';
  overflow: hidden;
}
.fillAppli:hover{
   border-bottom: 1px solid #297909;
}
.alignItems{
  align-items: center;
}

.pointer-none {
  pointer-events: none;
  opacity: 0.8;
}
.noClicked {
  pointer-events: none;
  opacity: 0.6;
}
.imgDisplay{
    margin: 0 auto;
    /* border: 2px solid #f4f3ff; */
    padding: 10px;
    border-radius: 20px;
}
.imgDisplay img{
  width: 100%;
}
#showInputsAnnds{
  margin-bottom: 25px;
}

/* click on imagea */
.clikImhCRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.imgClick {
    border: 2px solid #9999991c;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    margin: 15px;
    transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
    transform-style: preserve-3d;
}

.imgClick img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.6s ease;
}

/* Hover Effect */
.imgClick:hover {
  border: 2px solid #00ffff;
  transform: translateY(-8px) scale(1.05) rotateX(8deg);
  box-shadow: rgb(0 255 255) 0px 1px 15px 0px,
              rgba(0, 0, 0, 0.3) 0px 17px 10px -12px !important;
}

.imgClick:hover img {
  transform: scale(1.2);
}
.imgClick:hover{
  border: 2px solid #00ffff;
  box-shadow: rgb(0 255 255) 0px 1px 15px 0px, rgba(0, 0, 0, 0.3) 0px 17px 10px -12px !important;
}


.selectedClickImgs {border: 0.3px solid #094aff;
  box-shadow: rgb(8, 53, 252) 0px 1px 15px 0px, rgba(0, 0, 0, 0.3) 0px 17px 10px -12px !important;
}
.correct-borderClickImgs { border: 3px solid green !important; }
.wrong-borderClickImgs { border: 3px solid red !important; }









@media (min-width:300px) and (max-width:880px) {
.questionFILL {
  font-size: 15px;
  margin: 0;
}
.inPutHindiNew {
  width: 90px;
}
.hindiHeadings {
  padding: 8px 14px;
  margin: 14px 0;
  font-size: 15px;
}
.menHeading {
  font-size: 15px;
  margin: 10px 0 0 0;
}
.nameOfTopic {
  font-size: 15px;
}
.textNormalRun {
  font-size: 14px;
}
.saketText {
  color: #000;
  font-size: 13px;
}
.instForFillText {
  margin: 9px 0px;
  border: 3px double #ffc59e;
  padding: -1px 12px;
  font-size: 13px;
}
.headNirdesh {
  color: #fa6807;
  font-size: 23px;
}
.inputeSectionsRachna {
  display: block;
  text-align: center;
}
.ui-keyboard {
  display: none !important;
}
.tabsForLetter {
  border: 2px solid #fff;
  padding: 7px 9px;
  border-radius: 19px;
  font-size: 13px;
  margin: 5px 0;
}
.showInboxes {
  font-size: 15px;
}
.headingReadyPatr {
  font-size: 15px;
  margin: 0 33px 0 0;
}
#dataForReadyPatar{
  font-size: 14px;
}
}
