
.qu_z {
    display: block;
    background: #fff;
    margin: 2vw;
    border-radius: 15px;
    height: 93vh;
    overflow: auto;
}

.shrawan-kaushal .listen-activity-container {
    height: 90vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.shrawan-kaushal .question-sec,
.shrawan-kaushal .qSec {
    display: none;
}

.shrawan-kaushal .machiNgs .replay-btn {
    background: linear-gradient(135deg, #ff4e09, #ff3131);
    box-shadow: 0 6px 15px rgba(0, 200, 81, 0.4);
}

.shrawan-kaushal .question-image {
    width: 200px;
}

.shrawan-kaushal #poemContainer {
    text-align: center;
    font-size: 20px;
    font-family: 'PoppinsLight';
}

.shrawan-kaushal .bigOption {
    height: 140px !important;
}

.shrawan-kaushal .option-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    white-space: nowrap;
}

.shrawan-kaushal .option-letter {
    font-weight: bold;
    color: #001a66;
}

.shrawan-kaushal .option-text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shrawan-kaushal .option-image {
    width: 100px;
    object-fit: contain;
}

.shrawan-kaushal #quest1 {
    display: none;
}

.shrawan-kaushal .poem-sec {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.shrawan-kaushal #questionTitle {
    font-family: 'PoppinsSemiBold';
    font-size: 20px;
    margin-bottom: 10px;
    background: #f0f2f9;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}

.shrawan-kaushal .question-block .Ques b {
    font-family: 'PoppinsSemiBold';
    font-size: 22px;
    color: #050441;
}

.shrawan-kaushal .question-block .alpha {
    font-family: 'PoppinsBold';
    font-size: 18px;
}

.shrawan-kaushal .image-Center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.shrawan-kaushal .image-right {
    width: 100px;
    margin-left: auto;
}

.shrawan-kaushal .opt-box {
    justify-content: space-between;
    min-height: 70px;
    background: #ffffff;
    border: 3px solid #99d0f7;
    border-radius: 14px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    padding: 15px 18px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    font-family: 'PoppinsLight';
    transition: all 0.3s ease, transform 0.25s ease;
    color: #000f5a;
    margin: 16px 5px;
    font-weight: normal;
}

.shrawan-kaushal .opt-box:hover {
    background: linear-gradient(135deg, #ffffff, #d4f1ff);
    color: #000 !important;
    border: 2px solid #1485c638;
    box-shadow: 0 0 15px rgba(36, 202, 230, 0.6), 0 0 25px rgba(36, 202, 230, 0.3) inset;
    transform: scale(1.03);
}

.shrawan-kaushal .left-content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
}


.shrawan-kaushal .left-content input[type="radio"] {
    accent-color: #24cae6;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.shrawan-kaushal #stop-audio-icon {
    display: none;
}

.shrawan-kaushal #stop-audio-icon2 {
    display: none;
}

.shrawan-kaushal #ado-play,
.shrawan-kaushal #ado-play2,
.shrawan-kaushal #stop-audio-icon,
.shrawan-kaushal #stop-audio-icon2 {
    width: 30px;
    height: 30px;
}

.shrawan-kaushal .opt-box.big-box {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.shrawan-kaushal .opt-box.small-box {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


.shrawan-kaushal .opt-image {
    max-width: 144px;
    object-fit: contain;
}


@media (min-width: 380px) and (max-width: 767px) {
    .shrawan-kaushal .poem-sec {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .shrawan-kaushal #questionTitle {
        font-size: 18px;
    }

    .shrawan-kaushal .question-block .Ques b {
        font-size: 18px;
    }

    .shrawan-kaushal #ques-Heading {
        font-size: 18px;
    }

    .shrawan-kaushal #poemContainer {
        font-size: 18px;
    }

    .shrawan-kaushal .image-Center {
        max-width: 200px;
    }

    .shrawan-kaushal .opt-box {
        font-size: 17px;
    }

    .shrawan-kaushal #popupAnsBox #scoreTextQ1 {
        font-size: 18px;
    }

    .shrawan-kaushal #popupAnsBox .answerdiv thead th {
        font-size: 14px;
    }

    .shrawan-kaushal #ado-play2,
    .shrawan-kaushal #ado-play,
    .shrawan-kaushal #stop-audio-icon2,
    .shrawan-kaushal #stop-audio-icon {
        width: 22px;
        height: 22px;
    }

    .shrawan-kaushal .big-box {
        height: auto !important;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 12px;
    }

    .shrawan-kaushal .opt-image {
        max-width: 100px;
        max-height: 100px;
        margin-top: 10px;
    }

    .shrawan-kaushal .left-content {
        width: 100%;
    }

 .shrawan-kaushal #questionTitle {
  font-size: 18px;
}

    .shrawan-kaushal #questionTitle {
        font-size: 18px;
    }

}