.qu_ {
  display: block;
  margin: 2vw;
  border-radius: 15px;
  background: #fff;
  height: 93vh;
  overflow: auto;
}

.word-searched .container-sub {
  margin: 20px auto;
}

.word-searched .divDisplay .text {
  font-size: 17px;
  font-family: 'PoppinsLight';
  color: #000;
}

.word-searched .questionText {
  font-size: 18px;
  font-family: 'Poppins';
  color: #000;
  margin: 11px 0;
}

.word-searched .hints {
  font-weight: 600;
  color: #0a74da;
  font-size: 20px;
  margin: 12px 0px;
}

.word-searched .hint-item {
  padding: 10px 8px;
  cursor: pointer;
  font-size: 17px;
  font-family: 'PoppinsLight';
  color: #000;
  align-items: center;
  justify-content: start;
  text-align: left;
  transition: all 0.35s ease;
}

.word-searched #puzzle table {
  margin: auto;
  border-collapse: collapse;
}

.word-searched .divDisplay {
  display: flex;
  justify-content: space-between;
}

.word-searched #puzzle table td {
  width: 35px;
  height: 35px;
  font-size: 14px;
  position: relative;
}

.word-searched #puzzle table td input {
  width: 100%;
  height: 100%;
  background: #31cde2;
  border: 1px solid #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.word-searched .note {
  font-size: 22px;
  border: 2px solid #F2B322;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

.word-searched .popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.word-searched .popup-overlay.active {
  display: flex;
}

.word-searched .popup-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  text-align: center;
  animation: popupSlide 0.3s ease;
  left: 31%;
  top: 39%;
  width: 20%;
}

.word-searched .close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #000;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.word-searched .open-btn {
  margin: 30px;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes popupSlide {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.word-searched #puzzle input[type="button"] {
  width: 35px;
  height: 35px;
  border: none;
  margin: 2px;
  font-weight: 500;
  background: #31cde2;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
}

.word-searched #puzzle input[type="button"]:hover {
  transform: scale(1.1);
}

.word-searched .hint-correct {
  color: green;
  font-weight: bold;
}



@media (min-width: 769px) and (max-width: 992px) {
  .word-searched .divDisplay {
    display: flex;
    flex-direction: column;
  }

  .word-searched .hint-item {
    padding: 7px 8px;
  }
  .word-searched .hints {
  margin: 5px 0px;
}
}


@media (min-width: 481px) and (max-width: 767px) {
  .word-searched .divDisplay {
    display: flex;
    flex-direction: column;
  }

  .word-searched .hint-item {
    padding: 7px 8px;
  }
  .word-searched .hints {
  margin: 5px 0px;
}
}